/* .col_main{
    padding-top: 25%!important;
    color: white;
} */

/* .col_icon2{
    margin-right: 15% !important;
} */

.colombo{
    margin-top: 15%!important;
    background-color: rgba(71, 73, 75, 0.651)!important;
    color: aliceblue!important;
    max-width:max-content!important;
    border-radius: 20px!important;
    padding-bottom: 2%!important;
}