.back{
    margin-left: 3%!important;
}

.Row1 {
    padding-top: 4%!important;
    padding-bottom: 2%!important;
}

.Row2 {
    padding-top:1%!important;
    padding-bottom: 2%!important;
}

.Row0{
    margin-top: 60px!important;
    padding-bottom: 2%!important;
}

.card{
    width: 300px !important;
    height: max-content!important;
    background-color: rgba(226, 222, 201, 0.808)!important;
    border-radius: 50px!important;
    padding: 20px!important;
    margin-block-start: 14%;

}

.Row{
    margin-top: 2%!important;
}

.view_more{
    margin-top: 2%;
    margin-left: 2%!important;
}