.sign_div {
    background-color: rgb(255, 255, 255)!important;
    margin-top: 40%!important;
    margin-left: 25%!important;
    margin-right: 25%!important;
    padding: 5%!important;
    border-radius: 40px!important;
    color: rgb(8, 8, 8)!important;
    font-size:xx-large!important;
}

.sign_btn{
    background-color: rgb(57, 157, 214)!important;
}

.home_note{
    display: flex;
    align-items: center!important;
    justify-content: center!important; /* Center horizontally */
    height: 80vh!important;
    font-size: 800%;
    color: rgb(255, 255, 255)!important;  
}